[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "==1.18.11"
pymysql = "==1.0.2"
update-helper-project-controller = {editable = true, path = "./../projectcontroller"}
update-helper-database = {editable = true, path = "./../database"}
requests = "==2.26.0"

[dev-packages]

[requires]
python_version = "3.6"
